# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.user
build-Schachoberflaeche-Desktop_Qt_5_1_1_GCC_64bit-Debug/*
Makefile

Debug/*
GeneratedFiles/*
TestResults/*
*.sdf
*.opensdf
debug/*
*.suo

*.txt

